body {
	background-image: url(../img/rebels-background.jpg);
	background-color: blue;
	background-size: 100%;
	background-position: center;
	background-position: no-repeat;
	font-family: liberation;
}
a {
	text-decoration: none;
}
.main_page {
	color: white;
	background-color: black;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	opacity: 0.75;
	background-color: black;
}
.information p{
	font-size: 18px;
}
.information {
	color: white;
	width: 30%;
	margin-top: 10%;
	margin-left: 10%;
	background-color: black;
	opacity: 0.75;
}
@media screen and (max-width: 1080px) {
	body {
	background-image: url(../img/mobrebel-background.jpg);
	background-color: blue;
	background-size: cover;
	background-position: no-repeat;
	font-family: liberation;
}
.information {
	width: 80%;
	margin-top: 20%;
	margin-left: 10%;
}
}
