body {
	background-image: url(../img/stormtroopers.jpg);
	margin: 0;
	padding: 0;
	background-color: blue;
	background-size: cover;
	background-position: center;
	background-position: no-repeat;
}
a {
	text-decoration: none;
}
h1 {
	margin: 0;
	padding: 0;
	color: white;
	opacity: 0.75;
	font-size: 50px;
	text-align: center;
	background-color: black;
}
h1:hover {
	background-color: white;
	color: black;
}
.information {
	color: white;
	width: 30%;
	margin-top: 10%;
	margin-left: 60%;
	padding:0px 20px;
	background-color: black;
	opacity: 0.75;
	border-radius: 10px;
	font-size: 18px;
}
@media screen and (max-width: 1080px) {
	body {
	background-image: url(../img/mobtroop-background.jpg);
	background-position: top;
}
.information {
	width: 80%;
	margin: 20% 10%;
}
}
